body {
  font-family: arial, sans-serif;
  background: #b4b4b5;
}

h1 {
  font-size: 34px;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
  padding-bottom: 5px;
  color: #c82333;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: #63676b;
  font-size: 14px;
  font-weight: 300;
  height: 19px;
  line-height: 1;
  list-style: none;
  padding-bottom: 2%;
}
ul .locateMe {
  padding-left: 1%;
}
li:first-letter {
  text-transform: capitalize;
}
li #feels,
#humidity,
#wind {
  color: #c82333;
}

button {
  margin-bottom: 2%;
}

.weather-app {
  background: #fff;
  background-size: cover;
  border: 1px solid transparent;
  max-width: 700px;
  margin: 20px auto;
  margin-top: 3%;
  margin-bottom: 0;
  border-radius: 10px;
  padding: 4% 2% 0 2%;
  color: #3d4144;
}

.upper {
  margin-bottom: 5%;
}

.upper li {
  font-size: 15px;
}
.phaseDetails {
  margin-bottom: 15%;
  padding-left: 7%;
}
.buttonwrap {
  margin-top: 10%;
  margin-left: 5%;
}

.tempInfo img {
  position: absolute;
  height: 130px;
  width: 130px;
  margin-left: 18%;
  flex: 1;
}

.tempInfo strong {
  color: #656565;
  font-size: 70px;
  font-weight: 400;
  line-height: 0.9;
}
.tempInfo {
  margin-left: 35%;
  margin-bottom: 8%;
}
.units {
  position: relative;
  top: 5px;
}

.tempInfo .active {
  color: #5a6268;
  cursor: default;
}

.tempInfo .active:hover {
  text-decoration: none;
}
.measure {
  position: relative;
  top: -35px;
  right: 5px;
  font-size: 22px;
}
.measures {
  color: #c82333;
  opacity: 0.7;
}

.forecastRow {
  display: block;
  font-size: 14px;
  text-align: center;
  margin: 9% 5% 0 5%;
  border-radius: 10% solid transparent;
}
.forecasting {
  padding: 2px;
  margin: 10px auto;
}
.forecastDays {
  font-size: 15px;
  font-weight: 500;
}
.forecastTemp {
  font-size: 13px;
}
.forecastTempMax {
  font-weight: bold;
  color: #c82333;
}
.forecastTempMin {
  opacity: 0.5;
  color: #c82333;
}

p.mine {
  font-style: none;
  text-align: center;
  font-size: 11px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Courier New", Courier, monospace;
  color: #201d1d;
}
a {
  text-decoration: none;

  color: #1683d2;
}
a:hover {
  text-decoration: underline;
  color: #153750;
}
